* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    color: white;
    font-family: tahoma;
    font-size: 10px;
}

.photo {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url(abc.jfif) no-repeat center center;
    background-size: cover;
}

.photo-blur {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: url(abc1.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0;
}

.photo-blur::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

section {
    position: absolute;
    z-index: 2;
    top: 0;
    margin-top: 80vh;
    width: 100%;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.7) 100%);
}

section article {
    width: 900px;
    margin: 80px auto 40px;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.09em;
    line-height: 1.6em;
    text-shadow: 0 1px 10px #000;
}